@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tabs-wrapper {
    width: 1200px;
    padding-top: 109px;
    margin: 0 auto;
}

.buttons {
    display: flex;
}

.button {
    padding: 10px 80px;
    margin-bottom: -1px;
}

.button.main {
    border: 1px solid #C6CBCD;
    border-bottom: none;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.button-name {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.tabs__main-content {
    width: 100%;
    border: 1px solid #C6CBCD;
    display: flex;
    justify-content: space-between;
}

.tabs-content {
    vertical-align: top;
    width: 570px;
    padding: 0 30px 0 100px;
}

.tabs-title {
    padding: 40px 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    white-space: nowrap;
}

.tabs-text {
    font-family: 'Raleway';
    font-weight: 400;
    width: 570px;
    font-size: 17px;
    padding-bottom: 30px;
    white-space: pre-line;
}

.tabs-download {
    width: 270px;
    height: 58px;
    background-color: #EC7979;
}

.tabs-download-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 17px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
}

@media(max-width:1200px) {
    .tabs-wrapper {
        width: 97%;
    }

    .button {
        padding: 10px 67px;
    }

    .tabs-content {
        width: 482.89px;
        padding: 28px 0 0 84.68px;
    }

    .tabs-title {
        font-size: 24px;
        line-height: 33px;
        padding-top: 0;
    }

    .tabs-text {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 38px;
    }

    .tabs-download {
        width: 231.87px;
        padding-bottom: 54px;
    }

    .tabs-img {
        width: 430px;
    }
}

@media(max-width: 1024px) {
    .tabs-img {
        width: 38%;
    }
}

@media(max-width: 876px) {
    .tabs-img {
        width: 0;
    }

    .tabs-content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .tabs-text {
        white-space: normal;
        text-align: center;
        width: normal;
    }

    .tabs-download {
        margin-bottom: 50px;
    }
}

@media(max-width: 768px) {

    .tabs-wrapper {
        width: 288px;
    }

    .button {
        padding: 10px 29px;
    }

    .tabs-title {
        font-size: 18px;
        line-height: 25px;
        white-space: normal;
        text-align: center;
        width: 242px;
    }

    .tabs-text {
        width: 242.74px;
        font-size: 13px;
        line-height: 15px;
    }

    .tabs-download{
        width: 242.74px;
        height: 50px;
    }
}