@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.awesome-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.awesome-title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-top: 104px;
}

.awesome-title::after {
    content: "";
    display: block;
    background-color: #EC7979;
    width: 170px;
    height: 1px;
    margin: 54px auto 0 auto;
}

.awesome-description {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    padding-top: 40px;
}

.cards {
    padding: 110px 0 58px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
}

.card-picture {
    height: 92px;
    width: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-picture__lamp {
    width: 65px;
    height: 65px;
}

.card-picture__keyboard {
    height: 46px;
    width: 66px;
}

.card-picture__lightning {
    height: 66px;
    width: 44px;
}

.card-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding: 73px 0 42px 0;
}

.card-description {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    white-space: pre-line;
}

@media(max-width:1200px) {
    .awesome-wrapper {
        width: 100%;
    }

    .awesome-title {
        font-size: 24px;
        line-height: 28px;
        padding-top: 96px;
    }

    .awesome-title::after {
        width: 142px;
        margin-top: 24px;
    }

    .awesome-description {
        font-size: 14px;
        line-height: 16px;
        padding-top: 32px;
    }

    .cards {
        padding-top: 65.72px;
    }

    .card {
        width: 317px;
    }

    .card-picture {
        width: 79.55px;
        height: 79.55px;
    }

    .card-picture__lamp {
        width: 56.46px;
        height: 56.46px;
    }

    .card-picture__keyboard {
        width: 57.07px;
        height: 39.78px;
    }

    .card-picture__lightning {
        width: 38.05px;
        height: 57.07px;
    }

    .card-title {
        font-size: 18px;
        line-height: 25px;
        padding-top: 33.72px;
    }

    .card-description {
        font-size: 14px;
        line-height: 16px;
    }
}

@media(max-width: 768px) {

    .awesome-wrapper {
        width: 288px;
    }

    .awesome-title {
        padding-top: 50px;
        font-size: 18px;
        line-height: 21px;
    }

    .awesome-title::after {
        width: 134px;
    }

    .awesome-description {
        font-size: 13px;
        line-height: 15px;
        width: 288px;
        text-align: center;
    }

    .cards{
        flex-direction: column;
        width: 100%;
        padding-top: 0;
    }
    .card{
        padding-top: 83.72px;
        width: 100%;
    }
}